@font-face {
  font-family: "Shrikhand", sans-serif;
  src: url("Shrikhand-Rgular.ttf");
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("Roboto-Regular.ttf");
}

body {
  background-color: #F6F6F6;
  white-space: normal;
  margin: auto;
  font-family: "Robot", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 40px 0;
  text-align: center;
}

img {
  width: 100%;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.restaurants_img {
  position: relative;
  overflow: hidden;
  height: 180px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.header_logo {
  text-align: center;
  width: auto;
  height: 30px;
}

.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 60px;
  margin-bottom: 0.19rem;
}

.localisation {
  background-color: #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  font-size: 1rem;
}

.localisation_text {
  margin: none;
  font-weight: 600;
}

.icon_localisation {
  margin-right: 10px;
}

.main {
  max-width: 1400px;
  margin: auto;
}

.reservation {
  background-color: #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.reservation_titre {
  text-align: center;
}

.reservation_sous_titre {
  font-size: 1.130rem;
  font-weight: 300;
  margin-bottom: 40px;
  text-align: center;
}

.btn_reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #FF79DA), color-stop(95%, #9356DC));
  background: linear-gradient(#FF79DA 10%, #9356DC 95%);
  color: #F6F6F6;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  border-style: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  padding: 1rem;
}

.btn_reservation:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  font-size: 1rem;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.fonctionnement {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.fonctionnement_titre {
  font-weight: 900;
  margin: 10px 0 20px 0;
}

@media all and (max-width: 750px) {
  .fonctionnement_titre, .restaurants_titre {
    width: 336px;
  }
  .footer_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container_fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choix, .choix_rose {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 1rem;
  background-color: #F6F6F6;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  width: 336px;
  height: 74px;
  margin: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 24px;
}

.choix i, .choix_rose i {
  padding: 0 15px 0 30px;
}

.choix_rose {
  background-color: #f2eafb;
}

.numero_cercle {
  position: absolute;
  left: -14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 24px;
  height: 24px;
}

.cercle {
  position: absolute;
  z-index: 4;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #9356DC;
}

.numero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 5;
  width: 28px;
  height: 28px;
  color: #FFFFFF;
}

.icon_fonctionnement {
  font-size: 1rem;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px 40px 20px;
  background-color: #F6F6F6;
}

.restaurants_bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 20%;
}

.restaurant_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex-item-align: center;
      align-self: center;
  width: 336px;
  margin: 10px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 1rem;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.restaurants_infos {
  position: relative;
  margin: 15px;
}

.restaurants_text {
  margin: 0;
  padding-bottom: 5px;
}

.restaurants_lieu {
  font-weight: 400;
}

.like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 20%;
  height: 100%;
}

.empty_like {
  font-size: 24px;
  position: absolute;
  z-index: 2;
  color: #000;
}

.empty_like:hover {
  background: #FF79DA;
}

.full_like {
  font-size: 24px;
  position: absolute;
  z-index: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.9rem;
  font-weight: 600;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  color: #217460;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-weight: 400;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 25px 35px 25px;
  color: white;
  background-color: #2e2b2b;
}

footer a {
  color: white;
}

.footer_logo {
  padding-bottom: 10px;
  width: 100%;
  max-width: 1400px;
  color: white;
}

.footer_logo img {
  width: auto;
  height: 25px;
}

.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1400px;
  line-height: 27px;
}

.footer_menu i {
  font-size: 1rem;
  margin-right: 10px;
}

@media all and (min-width: 751px) {
  .footer_ligne {
    padding: 3rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* Page restaurant html */
.precedent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  font-size: 1.5rem;
  width: 30px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  margin: 15px;
}

.header_container img {
  height: 30px;
}

@media all and (max-width: 750px) {
  .restaurants_photo {
    max-height: 270px;
  }
  .menu {
    padding: 35px 20px;
  }
  .en_tete_menu h1 {
    font-size: 1rem;
  }
}

@media all and (min-width: 751px) {
  .restaurants_photo {
    max-height: 400px;
  }
  .menu {
    padding: 40px 30px;
  }
  .en_tete_menu h1 {
    font-size: 2rem;
  }
}

.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2rem 2rem 0 0;
  background-color: #F6F6F6;
}

.en_tete_menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
}

.en_tete_menu h1 {
  font-weight: 400;
  margin: 0;
  text-align: left;
}

.en_tete_menu i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 15px;
  padding: 20px;
}

.like_menu {
  text-align: right;
  right: 0;
}

.plats_container {
  margin-bottom: 30px;
}

.plats_container h1 {
  margin-left: 10px;
}

.line {
  margin-left: 10px;
  width: 40px;
  height: 3px;
  margin: 5px 0 12px 0;
  background-color: #99E2D0;
}

.plats {
  position: relative;
  top: 45px;
  overflow: hidden;
  margin-bottom: 12px;
  padding: 12px;
  cursor: pointer;
  border-radius: 1rem;
  background-color: white;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.plats:hover .plat_valide {
  width: 60px;
  height: 100%;
  background-color: #99E2D0;
}

.plats:hover .plat_valide i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
}

.plats_noms {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.8rem;
  width: calc(100%-60px);
}

.plats_lignes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plats_lignes p {
  font-size: 1rem;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.prix {
  font-size: 1rem;
  font-weight: bold;
}

.valide {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */